@use 'sass:map';

.banner {
  &__container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &__link {
    display: block;
  }

  &__image {
    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @media (max-width: map.get($breakpoints, md)) {
        display: block;
      }
    }
  }
}
