@use 'sass:map';

.beneficios {
  padding: 1.9rem 1rem 0 1rem;

  @media (max-width: map.get($breakpoints, md)) {
    padding: 1.7rem 0 0 0;
  }

  &__container {
    display: flex;
    align-items: center;
    max-width: 110rem;
    margin: 0 auto;

    @media (max-width: map.get($breakpoints, md)) {
      flex-direction: column;
    }
  }

  &__col {
    &:nth-of-type(2) {
      @include fluid-property(margin-left, 1.6rem, 6.3rem);
      max-width: 42.8rem;

      @media (max-width: map.get($breakpoints, md)) {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }
    }
  }

  &__heading-container {
    &_mobile {
      display: none;
      @include fluid-property(max-width, 30rem, 100%);

      @media (max-width: map.get($breakpoints, md)) {
        display: block;
        margin: 0 auto;
        padding-bottom: 1.8rem;
      }
    }
  }

  &__heading {
    @include fluid-property(font-size, 1.7rem, 2.5rem);
    color: var(--#{$namespace}-color-primary);
    font-weight: 700;
    text-transform: uppercase;

    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }
  }

  &__heading-highlight {
    color: var(--#{$namespace}-color-secondary);
  }

  &__list {
    padding-top: 1.1rem;
    list-style: none;

    @media (max-width: map.get($breakpoints, md)) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--#{$namespace}-color-secondary);

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__button {
    @include fluid-property(font-size, 1.2rem, 1.3rem);
    @include fluid-property(height, 4rem, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.6rem;
    color: var(--#{$namespace}-color-white);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__text {
    max-width: 28.5rem;
  }
}
