@use 'sass:map';

.blog {
  padding: 3.2rem 1rem 0 1rem;

  &__container {
    max-width: 93rem;
    margin: 0 auto;
  }

  &__heading {
    padding-bottom: 1rem;
  }

  &__header {
    @include fluid-property(font-size, 1.3rem, 2.5rem);
    color: var(--#{$namespace}-color-primary);
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  &__heading-container {
    display: flex;
    align-items: center;
  }

  &__subheader {
    @include fluid-property(font-size, 1.3rem, 2.5rem);
    color: var(--#{$namespace}-color-secondary);
    font-weight: 500;
  }

  &__heading-link {
    @include fluid-property(font-size, 0.9rem, 2rem);
    margin-left: auto;
    padding-left: 1.6rem;
    color: var(--#{$namespace}-color-primary);
    font-weight: 700;
    text-decoration: none;
  }
}
