@use 'sass:map';

.conectividade {
  display: flex;
  align-items: center;
  max-width: 98.7rem;
  margin: 0 auto;
  padding: 2.2rem 1rem;

  @media (max-width: map.get($breakpoints, md)) {
    flex-direction: column;
    padding: 2.2rem 3.2rem;
  }

  &__left {
    flex: 1;
  }

  &__center {
    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }
  }

  &__right {
    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }
  }

  &__heading {
    @include fluid-property(font-size, 3rem, 4.2rem);
    color: var(--#{$namespace}-color-primary);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__subheading {
    padding-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__paragraph {
    @include fluid-property(font-size, 1.4rem, 1.8rem);
    padding-bottom: 1.5rem;
    color: var(--#{$namespace}-color-primary);
    line-height: 150%;
  }

  &__subparagraph {
    padding-bottom: 3.5rem;

    @media (max-width: map.get($breakpoints, md)) {
      padding-bottom: 0;
    }
  }

  &__terceiros-container {
    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }
  }

  &__highlight {
    font-weight: 700;
  }

  &__terceiros {
    @include fluid-property(font-size, 1.2rem, 1.8rem);
    padding-bottom: 0.5rem;
    color: var(--#{$namespace}-color-primary);
    line-height: 150%;

    @media (max-width: map.get($breakpoints, md)) {
      padding-top: 2.4rem;
    }
  }

  &__baixe {
    padding-top: 2.3rem;
    color: var(--#{$namespace}-color-primary);
    font-size: 1.4rem;
    line-height: 150%;
  }

  &__list {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding-top: 2rem;
    list-style: none;

    &_desktop {
      display: block;

      @media (max-width: map.get($breakpoints, md)) {
        display: none;
      }
    }
  }
}

.conectividade-mobile {
  display: none;
  gap: 2rem;
  justify-content: center;
  width: 100%;

  @media (max-width: map.get($breakpoints, md)) {
    display: flex;
    padding-top: 2rem;
  }
}

.terceiros-mobile {
  padding-bottom: 1rem;
}

.qr-code {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  width: 26.5rem;
  padding: 1.3rem 1.5rem;
  color: var(--#{$namespace}-color-white);
  line-height: 150%;
  background-color: var(--#{$namespace}-color-primary);

  img {
    width: 12.5rem;
    min-height: 12.5rem;
  }
}
