.image-mosaic {
  @include fluid-property(gap, 0.731rem, 2rem);
  display: flex;

  &__figure {
    position: relative;

    &:nth-last-of-type(2) {
      @include fluid-property(margin-bottom, 0.731rem, 2rem);
    }
  }

  &__caption {
    @include fluid-property(font-size, 1rem, 2.5rem);
    @include fluid-property(padding-right, 0.5rem, 1.6rem);
    @include fluid-property(left, 0.5rem, 1.7rem);
    @include fluid-property(bottom, 0.5rem, 1.1rem);
    position: absolute;
    color: var(--#{$namespace}-color-white);
    font-weight: 700;
    text-transform: uppercase;
  }
}
