@use 'sass:map';

.outros {
  padding: 3rem 1rem 0 1rem;

  &__container {
    @include fluid-property(gap, 1.3rem, 2rem);
    display: flex;
    align-items: center;
    max-width: 112rem;
    margin: 0 auto;

    @media (max-width: map.get($breakpoints, md)) {
      flex-direction: column;
    }
  }

  &__link {
    display: block;
  }

  &_detectores {
    @media (max-width: map.get($breakpoints, md)) {
      padding-top: 1.3rem;
    }
  }
}
