@use 'sass:map';

.saiba-mais {
  padding: 1.2rem 1rem 0 1rem;

  &__container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 3.9rem 1.9rem;
    background-color: var(--#{$namespace}-color-gray-light);

    @media (max-width: map.get($breakpoints, md)) {
      padding: 1.7rem 1.9rem;
    }
  }

  &__inner-container {
    display: flex;
    gap: 6.5rem;
    max-width: 92rem;
    margin: 0 auto;

    @media (max-width: map.get($breakpoints, md)) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__aside {
    @include fluid-property(height, 2.8rem, 5rem);
    @include fluid-property(min-width, 0.5rem, 0.9rem);
    @include fluid-property(margin-right, 0.5rem, 2.3rem);
    background-color: var(--#{$namespace}-color-primary);
  }

  &__heading {
    @include fluid-property(font-size, 1.3rem, 2.4rem);
    color: var(--#{$namespace}-color-primary);
    font-weight: 700;
    text-transform: uppercase;
  }

  &__heading-highlight {
    color: var(--#{$namespace}-color-secondary);
  }

  &__button {
    @include fluid-property(font-size, 1rem, 1.6rem);
    width: 31.2rem;
    height: 4.3rem;
    text-transform: uppercase;
  }
}
