main {
  padding-bottom: 2rem;
}

.help__floater.js-visible {
  z-index: 1;
}

.LPNiveladores__shelfProduct {
  max-width: 95.4rem;
  margin: 0 auto;
  padding: 0 3rem;

  h2 {
    @include fluid-property(font-size, 1.8rem, 2.8rem);
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    color: #1e1e1e;
    font-weight: 700;
    text-align: center;
  }
}

.slider {
  h2 {
    @include fluid-property(font-size, 1.8rem, 2.8rem);
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
    color: #1e1e1e;
    font-weight: 700;
    text-align: center;
  }
}

.LPDetectores .shelf--default h2 {
  display: block;
}

@media screen and (min-width: 1025px) {
  .LPNiveladores .btn {
    width: 362px;
    margin-top: 15px;
    font-size: 16px;
  }
}

.landing__shelf--list {
  padding: 0;
}

.LPMedidores .landing__quiz .quiz__banner img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
