@use 'sass:map';

.acesso {
  padding: 2rem 1rem;

  &__container {
    @include fluid-property(gap, 1.3rem, 2rem);
    display: flex;
    align-items: center;
    max-width: 93rem;
    margin: 0 auto;
  }

  &__link {
    display: block;
  }
}
