@font-face {
  font-weight: 300;
  font-family: 'Bosch Sans';
  font-style: normal;
  src: url('./fonts/BoschSans-Light.eot');
  src: url('./fonts/BoschSans-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-Light.woff') format('woff'),
    url('./fonts/BoschSans-Light.ttf') format('truetype');
}

@font-face {
  font-weight: 300;
  font-family: 'Bosch Sans';
  font-style: italic;
  src: url('./fonts/BoschSans-LightItalic.eot');
  src: url('./fonts/BoschSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-LightItalic.woff') format('woff'),
    url('./fonts/BoschSans-LightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Bosch Sans';
  font-style: normal;
  src: url('./fonts/BoschSans-Regular.eot');
  src: url('./fonts/BoschSans-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-Regular.woff') format('woff'),
    url('./fonts/BoschSans-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'Bosch Sans';
  font-style: italic;
  src: url('./fonts/BoschSans-RegularItalic.eot');
  src: url('./fonts/BoschSans-RegularItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-RegularItalic.woff') format('woff'),
    url('./fonts/BoschSans-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Bosch Sans';
  font-style: normal;
  src: url('./fonts/BoschSans-Medium.eot');
  src: url('./fonts/BoschSans-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-Medium.woff') format('woff'),
    url('./fonts/BoschSans-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'Bosch Sans';
  font-style: italic;
  src: url('./fonts/BoschSans-MediumItalic.eot');
  src: url('./fonts/BoschSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-MediumItalic.woff') format('woff'),
    url('./fonts/BoschSans-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Bosch Sans';
  font-style: normal;
  src: url('./fonts/BoschSans-Bold.eot');
  src: url('./fonts/BoschSans-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-Bold.woff') format('woff'),
    url('./fonts/BoschSans-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 700;
  font-family: 'Bosch Sans';
  font-style: italic;
  src: url('./fonts/BoschSans-BoldItalic.eot');
  src: url('./fonts/BoschSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-BoldItalic.woff') format('woff'),
    url('./fonts/BoschSans-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Bosch Sans';
  font-style: normal;
  src: url('./fonts/BoschSans-Black.eot');
  src: url('./fonts/BoschSans-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-Black.woff') format('woff'),
    url('./fonts/BoschSans-Black.ttf') format('truetype');
}

@font-face {
  font-weight: 900;
  font-family: 'Bosch Sans';
  font-style: italic;
  src: url('./fonts/BoschSans-BlackItalic.eot');
  src: url('./fonts/BoschSans-BlackItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BoschSans-BlackItalic.woff') format('woff'),
    url('./fonts/BoschSans-BlackItalic.ttf') format('truetype');
}
