.image-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.seo {
  position: absolute;
  color: transparent;
  font-size: 1px;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out;
}

.overflow-hidden {
  overflow-y: hidden !important;
}
